.footer-ctn {
  padding: 98px 100px 38px;
}

.footer-ctn hr {
  margin: 35px 0px;
}

.copyright-text {
  font-size: 1rem;
}

.footer-section p {
  font-size: 1rem;
  color: #9F9F9F;
  font-weight: 500;
}

.footer-sections-ctn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 2rem;
  align-items: start;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: left;
  row-gap: 46px;
  min-height: 312px;
}

.footer-section a {
  font-size: 1rem;
  font-weight: 500;
  color: black;
}

.address-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #9F9F9F;
}

.address-section p {
  font-size: 1rem;
  font-weight: 300;
}

#email-input {
  border-style: none;
  border-bottom: 0.15rem solid black;
}

.newsletter-section div {
  width: 300px;
  margin-right: 100px;
}

#email-input {
  width: 200px;
}

#email-input::placeholder {
  font-size: 0.875rem;
}

#email-input:focus {
  border-style: none;
  border-color: red;
  margin: 0;
  padding: 0;
}

.subscribe-btn {
  font-size: 0.875rem;
  font-weight: 500;
  height: 24px;
  border-style: none;
  border-bottom: 0.15rem solid black;
  background-color: #00000000;
  padding: 0;
  cursor: pointer;
  margin-left: 10px;
  padding-bottom: 2px;
}
