.input-field label,
.input-field input {
  display: block;
}

.input-field label{
  font-weight: 500;
  font-size: 16;
  margin-bottom: 22px;
}

.input-field input,
.input-field select {
  border: 1px solid #9F9F9F;
  width: 100%;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  height: 75px;
  border-radius: 10px;
}

.flex-input {
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}

input:focus {
  outline: none;
}
