input, label {
  user-select: none;
}
.prevent-select {
  user-select: none;
}

/* BREADCRUMB */
.breadcrumb {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.breadcrumb-ctn {
  display: flex;
  flex-direction: row;
  column-gap: 25px;
  margin: 32px 0;
  margin-left: 100px;
}

.breadcrumb span {
  display: flex;
  align-items: center;
}

.breadcrumb-ctn span:not(:last-child)::after {
  content: url('../assets/icons/arrow.svg')
}

.breadcrumb-ctn a {
  margin-right: 20px;
}

.breadcrumb-ctn .product-name {
  border-left: 2px solid #9F9F9F;
  padding-left: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
}

/* MAIN CONTAINER */
.main-ctn {
  display: flex;
  flex-direction: row;
  column-gap: 105px;
  justify-content: center;
  padding: 35px 100px 55px;
  border-bottom: 1px solid #D9D9D9;
  min-height: 100vh;
}

/*Product Images*/

.product-images-ctn {
  height: 500px;
  display: flex;
}

.product-gallery {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  row-gap: 25px;
  margin-right: 30px;
  width: 80px;
  height: 100%;
  vertical-align: top;
  overflow-y: scroll;
}

.product-gallery::-webkit-scrollbar {
  display: none;
}

.gallery-slider {
  position: absolute;
}

.gallery-img-ctn {
  background-color: #FFF9E5;
  border-radius: 10px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.gallery-prev-btn {
  position: sticky;
  top: 0;
}
.gallery-next-btn {
  position: sticky;
  bottom: 0;
}

.main-img-ctn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #FFF9E5;
  height: 100%;
  border-radius: 10px;
}

.main-img-ctn:not(:last-child) {
  margin-bottom: 10px
}

.gallery-img {
  width: 100%;
}

.main-img-ctn img {
  width: 100%;
}

/*Product Details*/

.product-detail {
  max-width: 600px;
}

.product-price {
  display: block;
  color: #9F9F9F;
}

.product-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0px;
}

.star:not(:last-child) {
  margin-right: 7px; 
}

.star {
  width: 20px;
  height: 20px;
}


.star-rating {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.rating-count {
  border-left: 1px solid #9F9F9F;
  padding-left: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: 400;
  color: #9F9F9F;
}

.product-description-brief {
  display: block;
  font-size: 13px;
  margin-top: 13px;
  margin-bottom: 22px;
  line-height: 20px;
  max-width: 80%;
}

hr {
  border: 1px solid #D9D9D9;
  margin-top: 60px;
  margin-bottom: 40px;
}

.quantity-ctn {
  display: inline-flex;
  box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #9F9F9F;
  border-radius: 10px;
  width: 123px;
  height: 64px;
  margin-right: 18px;
  padding: auto;
}

.quantity-btn {
  cursor: pointer;
  margin: auto 15px;
  font-size: 16px;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  width: 100%;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

button[type=submit] {
  box-sizing: border-box;
  width: 215px;
  height: 64px;
  font-size: 20px;
  background-color: #00000000;
  border: 1px solid black;
  border-radius: 10px;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

button[type=submit]:hover {
  background-color: black;
  transition: 0.15s ease-in-out;
  color: white;
}

/* VARIATION */

.product-variation {
  margin-bottom: 30px;
}

.variation-size label:not(:last-child),
.variation-color label:not(:last-child) {
  margin-right: 16px;
}

.variation-size {
  margin-bottom: 18px;
}

input[type=radio] {
  display: none;
  margin: 0;
}

.size, .color {
  font-size: 13px;
  cursor: pointer;
  display: inline-flex;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  background-color: #FAF4F4;
  border-radius: 5px;
}

.color {
  border-radius: 15px;
}

input[type="radio"]:checked + .size {
  background-color: #FBEBB5;
}

input[type="radio"]:checked + .color {
  border: 1px solid black;
}
